.App {
  text-align: center;
}
textarea.yellow {
  color: yellow;
}

textarea.blue {
  color: blue;
}

textarea.red {
  color: red;
}

textarea.purple {
  color: purple;
}

button.change {
  background-color: blue;
}
